
@import url('https://fonts.googleapis.com/css2?family=Yatra+One&display=swap');

@font-face {
    font-family: "flagmen";
    src: url("fonts/flagmen.woff") format('woff');
    font-display: swap;
}


@font-face {
    font-family: "cyrene";
    src: url("fonts/cyrene.woff2") format('woff2');
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    text-transform: uppercase;
    font-family: 'flagmen';
}

html, body {
    height: 100%;
    width: 100%;
    background-color: #fff;
    scroll-behavior: smooth;
}
body::-webkit-scrollbar{
    display: none;
}
#loader{
    height: 100%;
    width: 100%;
    background-color: #3b4af6;
    top: 0;
    position: fixed;
    z-index: 99;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    overflow: hidden;
}
#loader h2{
    font-size: 1.8vw;
    color: #F4F1EA;
    font-family: 'cyrene';
    letter-spacing: 1px;
    font-weight: 200;
    text-transform: capitalize;
}

#main {
    height: 100%;
    width: 100%;
    background-color: #fff;
    color: #3b4af6;
}


nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0vw 1vw;
    height: 4vw;
    z-index: 1000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;

}

#menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: #3b4af6;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 10000;
    -webkit-transition: opacity 0.3s ease-in;
    -o-transition: opacity 0.3s ease-in;
    transition: opacity 0.3s ease-in;
}
#menu-overlay.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    opacity: 1;
    z-index: 999;
}

/* Menu content */
.menu-content ul {
    list-style: none;
    text-align: center;
   
}
.menu-content ul li {
    margin: 2.5vw 0;
    
}

.menu-content ul li a:hover {
    color: #fff;
}


a {
    text-decoration: none;
    color: #fff;
    font-family: "Yatra One", system-ui;
    /* font-family: "cyrene"; */
    font-size: 2vw;
    letter-spacing: -1px;
    font-weight: 500;
    text-transform: uppercase;
}

#menu-icon{
    color: #3b4af6;
    display: block;
    font-size: 2.2vw;
    cursor: pointer;
    position: relative;
    z-index: 1100;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;   
}
#menu-icon.active{
    color: #fff;
}

.mobile-menu {
    display: none;
    position: absolute;
    height: 100%;
    top: 100%; 
    left: 0;
    background-color: #3b4af6;
    width: 100%;
    padding: 1rem;
    z-index: 999;
    height: 100vh;
    overflow: hidden;
}

.mobile-menu h3 {
    margin: 1rem 0;
}

.mobile-menu a {
    color: #F4F1EA;
    text-decoration: none;
    font-size: 5vw;
    padding: 2vw 0vw;
} 

#page1 {
    height: calc(100% - 4vw);
    width: 100%;
    margin-top: 3vw;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

#text {
    white-space: nowrap;
    position: relative;
    rotate: -4.7deg;
    line-height: 11vw;
    margin: 0 auto;
    padding-top: 2.8vw;
}

p {
    font-size: 10vw;
    font-family: "flagmen";
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 0.90px;
    -webkit-text-stroke-color: #111;
    letter-spacing: -0.4vw;
}

span {
    -webkit-text-fill-color: #3b4bf6f4;
    font-size: 10vw;
    -webkit-text-stroke-color: transparent;
}

#rightToleft {
    -webkit-animation: aTob 70s infinite linear;
            animation: aTob 70s infinite linear;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 3vw;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

#leftToright {
    -webkit-animation: bToa 80s infinite linear;
            animation: bToa 80s infinite linear;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 4vw;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

@-webkit-keyframes aTob {
    from {
        -webkit-transform: translateX(0%);
                transform: translateX(0%);
    }
    to {
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
    }
}

@keyframes aTob {
    from {
        -webkit-transform: translateX(0%);
                transform: translateX(0%);
    }
    to {
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
    }
}

@-webkit-keyframes bToa {
    from {
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
    }
    to {
        -webkit-transform: translateX(0%);
                transform: translateX(0%);
    }
}

@keyframes bToa {
    from {
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
    }
    to {
        -webkit-transform: translateX(0%);
                transform: translateX(0%);
    }
}

#image {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: 80%;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    z-index: 999;
    margin: 0;
    margin: -1.8vw 0vw;
}


#page1 img {
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    -ms-flex-line-pack: center;
        align-content: center;
    border-radius: 50%;
    border: 0.4vw solid #fff;
}

#page2 {
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0vw 2vw;
}
#circle-box{
    border-radius: 50%;
    height: 75%;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

#page2 video{
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    mix-blend-mode: multiply;
}
#page3{
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    width: 100%;
    font-family: 'flagmen';
    text-align: center;
    margin-bottom: 2vw;
}
#text-box{
    white-space: nowrap;
    width: 100%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    padding: 1vw;
}
#text-box h1{
    font-size: 4vw;
    line-height: 4.5vw;
}
#text-box h3{
    font-size: 1.5vw;
    padding: 2vw 0vw;
    font-weight: 500;
}
#img-part{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0 2vw;
}
img{
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}
#img1, #img2, #img3, #img4, #img5{
    -webkit-box-flex: 20%;
        -ms-flex: 20%;
            flex: 20%;
    max-width: 20%;
    padding: 0 4px;
}
#page4{
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    width: 100%;
    margin-top: 10vw;

}
#page4 h1{
    padding: 1.5vw 2vw;
    padding-bottom: 1vw;
}
#location{
    height: 75%;
    width: 100%;
    padding: 1vw 2vw;
}
#city1, #city2, #city3{
    height: 22%;
    width: 100%;
    background-color: #3b4af6;
    margin-bottom: 1vw;
    border-radius: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 2vw;
}
#page4 h3{
    color: #Fff;
    font-family: "Yatra One", system-ui;
    font-weight: 300;
} 
#page4 i{
    color: #fff;
    display: block;
    font-family: 'flagmen';
    font-size: 2.2vw;
}
#page5{
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    width: 100%;
    margin-top: 2vw;   
    display: -webkit-box;   
    display: -ms-flexbox;   
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
#page5 h1{
    margin-bottom: 1vw;
}
#about-team{   
    height: 100%; 
    padding: 2vw;
}
#about-team a{
    font-family: 'flagmen';
    color: #fff;
    font-size: 1.4vw;
    font-weight: 800;
}
#left{
    width: 50%;
    height: 90%;
    display: block;
    -ms-flex-line-pack: center;
        align-content: center;
}
#left h5{
    font-family: "cyrene";
    font-weight: 100;
    font-size: 1.3vw;
    text-transform: capitalize;
    letter-spacing: 0.2px;
    color: #333;
    padding-left: 0;
    line-height: 1.5vw;
}
#a{
    padding-top: 1.5vw;
}
#b{
    padding-bottom: 2vw;
}
#right{
    width: 50%;
    height: 90%;
    display: block;
    -ms-flex-line-pack: center;
        align-content: center;
}
button{
    background-color: #3b4af6;
    color: #fff;
    border: none;
    margin-top: 1vw;
    border-radius: 10px;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 3vw;
    padding: 1vw;
    border: none;
}
#page5 a{
    font-weight: 500;
}
button i{
    display: block;
    font-family: 'cyrene';
    color:  #fff;
    font-size: 1.4vw;
}
#team{
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; 
    -webkit-box-align: center; 
        -ms-flex-align: center; 
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 1vw;
    margin-bottom: 0.5vw;
    padding: 2vw;
}
#person1, #person2{
    height: 80%;
    width: 50%;
}
#team img{
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
}
#page6{
    height: 100%;
    width: 100%;
    padding: 2vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 1vw;
}
#left-side{
    height: 100%;
    width: 50%;
    border-radius: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #3b4af6;
}
#pattern-box{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    position: relative;
}
#pattern-box h1{
    padding: 2vw;
    color: #fff;
    padding-bottom: 1vw;
}
#bag-img{
    height: 47%;
    width: 45%;
    padding:  0vw 2vw;
}
#bag-img img{
    height: 100%;
    width: 100%;
}
#pattern-box h5{
    font-family: "cyrene";
    font-weight: lighter;
    text-transform: capitalize;
    font-size: 1.2vw;
    line-height: 1.5vw;
    font-weight: 450;
    margin-top: 1vw;
    padding:  0vw 2vw;
    padding-top: 1vw;
    color: #fff;
}
#btns{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0vw 2vw;
    gap: 1vw;
}
#btns button{
    background-color: #fff;
    color: #3b4af6;
    margin-top: 2vw;
    padding: 0.8vw 2vw;
    border: none;
    font-size: 1.3vw;
}
#right-side{
    height: 100%;
    width: 50%;
    background-color: #3b4af6;
    color: #fff;
    border-radius: 10px;
}
#content{
    height: 100%;
    width: 100%;
    display: block;
    -ms-flex-line-pack: center;
        align-content: center;
    padding: 2vw
}
#content h5{
    padding-bottom: 3vw;
    font-family: 'cyrene';
    font-weight: 600;
    padding-left: 0.2px;
}

input{
    width: 65%;
    padding:  1vw 1vw;
    border-radius: 10px;
    background-color: transparent;
    border: 1px solid #fff;
    font-family: "cyrene";
    text-transform: capitalize;
    margin-bottom: 1vw;
    color: #fff;
    outline: none;
    font-size: 1.2vw;
    font-weight: 500;
}

::-webkit-input-placeholder{
    color: #Fff;
}

::-moz-placeholder{
    color: #Fff;
}

:-ms-input-placeholder{
    color: #Fff;
}

::-ms-input-placeholder{
    color: #Fff;
}

::placeholder{
    color: #Fff;
}
#content button{
    margin-top: 2vw;
    font-size: 1.3vw;
    background-color: #fff;
    color: #3b4af6;
    padding: 0.7vw 1vw;
    gap: 3vw;
}
#content i{
    display: block;
    color: #3b4af6;
}
footer{
    height: 50%;
    background-color: #3b4af6;
    margin: 2vw;
    margin-bottom: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    gap:1.5vw;
    color: #fff;
}
#above{
    height: 80%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
#bottom{
    width: 100%;
    height: 20%;
    border-top: 1px solid #F4F1EA;
    text-align: center;
    gap: 1vw;
    padding: 2vw 1vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
#bottom a{
    font-size: 1.5vw;
}

#parta{
    height: 100%;
    width: 29% ;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0vw 1vw;
}
#parta h1{
    font-size: 5vw;
    padding: 0vw 1vw;
}
#partb,#partc,#partd, #parte{
    height: 100%;
    width: 15%;
    padding: 2vw 0vw;
}
#partc, #partd{
    width: 20%;
}
#partd #mail{
    text-transform: lowercase;
}

footer h3{
    font-size: 1.4vw;
    font-weight: 100;
    padding: 1vw 0vw;
    padding-bottom: 0.7vw;
    letter-spacing: 0.8px;
    font-family: "cyrene";
    font-weight: 800;
    text-transform: uppercase;
}
footer a{
    font-family: "cyrene";
    font-weight: lighter;
    text-transform: capitalize;
    text-decoration: none;
    font-size: 1.35vw;
    line-height: 1.9vw;
    font-weight: 450;
    display: block;
    letter-spacing: 0px;
    color: #Fff !important;
}
#menu{
    height: 100%;
    width: 100%;
}
#menu-imgs{
    height: 100%;
    width: 100%;
    padding: 2%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 2%;
}

/* Mobile styles */
@media (max-width: 600px) {
    html, body{
        overflow-x: hidden;
    }
    #loader h2{
        font-size: 4.4vw;
        color: #F4F1EA;
        font-weight: 500;
    }
    
    nav {
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
    }

    .menu-content ul li {
        margin: 8vw 0;
        
    }
    
    a {
        font-size: 7vw;
    }

    #menu-icon{
        font-size: 10vw;
        display: block;
        color: #3b4af6;
        margin-left: auto; 
        padding: 3vw 1vw;
    }
    
    #text {
        white-space: nowrap;
        position: relative;
        top: 50%;
        rotate: -4.7deg;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        line-height: 30vw;
        padding: 3vw 0vw;
    }
    p, span {
        font-size: 30vw;
    }
    #rightToleft {
        padding: 4vw;
        gap: 4vw;
    }
    #leftToright {
        padding: 4vw;
        gap: 4vw;
    }
    #image {
        width: 90%;
        height: 55%;
    }
    #page1 img{
        border: 2vw solid #fff;
        background-position: center;
        background-size: cover;
    }
    #page2 {
        height: 80%;
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        padding: 2vw;
        margin:  0%;
    }
    #circle-box{
        height: 100%;
        width: 100%;
    }
    #page2 video{
        height: 100%;
        width: 100%;
        background-position: center;
        background-size: cover;
    }
    #text-box { 
        height: -webkit-max-content; 
        height: -moz-max-content; 
        height: max-content;
        padding: 10vw 0vw;
        padding-bottom: 5vw;
    }
    #text-box h1{
        font-size: 8vw;
        line-height: 8vw;
        margin: 0vw 2vw;
        white-space: nowrap;
    }
    #text-box h3{
        font-size: 3.1vw;
        padding-top: 8vw;
        font-weight: 500;
        white-space: nowrap;
    }
    #img1, #img2, #img3, #img4, #img5{
        -webkit-box-flex: 50%;
            -ms-flex: 50%;
                flex: 50%;
        max-width: 50%;
        border-radius: 0;
        padding: 1.2vw;
    }
    #img4{
        display: none;
    }
    #page3{
        height: -webkit-max-content;
        height: -moz-max-content;
        height: max-content;
        width: 100%;
    }
    #page4{
        height: -webkit-max-content;
        height: -moz-max-content;
        height: max-content;
        width: 100%;
        margin-bottom: 7vw;
    }
    #page4 h1{
        padding: 2vw;
        padding-top: 10vw;
    }
    #location{
        height: 100%;
        margin-bottom: 10vw;
        margin-top: 2vw;
    }
    #city1, #city2, #city3{
        height: 20%;
        padding: 5vw 2.5vw;
        margin-bottom: 2vw;
    }
    #location h3{
        font-size: 3.8vw;
    }
    #page4 i{
        font-size: 6vw;
    }      
    #page5{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
    }
    #page5 h1{
        margin-bottom: 2vw;
    }
    #left{
        width: 100%;
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
        padding: 2vw 1vw;
    }
    #left h5{
        font-size: 4vw;
        line-height: 5vw;
        letter-spacing: 0.2px;
    }
    #a{
        padding-top: 4vw;
    }
    #right{
        width: 100%;
        height: 50%;
    }
    button{
        font-size: 5vw;
        margin-top: 4vw;
        padding: 2vw 4.2vw;
    }
    #about-team a{
        font-size: 5vw;
        font-family: 'flagmen';
    }
    #about-team i{
        font-size: 6vw;
        font-family: 'flagmen';
    }
    #team{
        -webkit-box-align:start;
            -ms-flex-align:start;
                align-items:start;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        gap: 2vw;
        padding:2vw 4vw;
    }
    #page6{
        height: -webkit-max-content;
        height: -moz-max-content;
        height: max-content;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        margin-top: 5vw;
    }
    #page6 h1{
        padding-top: 2vw;
    }
    #left-side{
        height: 100%;
        width: 100%;
        margin: 2vw 1vw;
        padding: 0vw 2vw;
        margin-top: 2vw;   
    }
    #pattern-box h1{
        padding: 3vw;
        padding-top: 5vw;
    } 
    #bag-img{
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
        width: 50%;
        padding: 0vw 2vw;
    }
    #bag-img img{
        height: 60%;
        width: 100%;
        margin-bottom: 4vw;
    }
    #pattern-box h5{
        font-size: 4.4vw;
        line-height: 4.8vw;
        letter-spacing: 0.2px;
    }
    #btns{
        padding: 2.2vw 2vw;
        gap: 1.5vw;
        padding-bottom: 8vw;
    }
    #btns button{
        margin-top: 5vw;
        background-color: #fff;
        color: #3b4af6;
        border: none;
        padding: 2vw 4vw;
        font-size: 4vw;
        border-radius: 5px;
    }
    #right-side{
        height: 50%;
        width: 100%;
        padding: 2vw;
        margin-bottom: 2vw;
    }
    #content{
        padding: 2vw;
    }
    #content h1{
        font-size: 7vw;
    }
    #content h5{
        padding-bottom: 8vw;
        font-size: 4vw;
        font-weight: 500;
    }
    input{
        width: 100%;
        padding:  4vw;
        border-radius: 5px;
        font-size: 4vw;
    }
    #content button{
        font-size: 4vw;
        margin-top: 8vw;
        padding: 0.2vw 3vw;
        border-radius: 5px;
    }
    #content i{
        font-size: 5vw;
    }
    footer{
        background-color: #3b4af6;
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
        margin-top: 2vw;
    }
    #above{
        display: none;
    }
    #bottom{
        height: -webkit-max-content;
        height: -moz-max-content;
        height: max-content;
        margin-top: 2vw;
    }
    #bottom a{
        padding: 4vw 0vw;
        font-size: 4vw;
        font-weight: 500;
        font-family: "cyrene";
        text-transform: uppercase;
        letter-spacing: 0.2px;
    }
    #parta,#partb,#partc,#partd{
        display: none;
    }
    #menu-imgs{
        padding: 2% 4%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

}

@media (min-width: 768px) and (max-width: 1024px) {
    *{
        border-radius: none;
        font-family: 'flagmen';
    }
    #loader h2{
        font-size: 4.8vw;
        color: #F4F1EA;
        font-weight: 500;
    }
    html,body{
        overflow-x: hidden;
    }
    nav {
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
    }

    .menu-content ul li {
        margin: 8vw 0;
        
    }
    
    a {
        font-size: 7vw;
    }

    #menu-icon{
        font-size: 10vw;
        display: block;
        color: #3b4af6;
        margin-left: auto; 
        padding: 3vw 1vw;
    }
    
    #page1 {
        height: calc(100% - 90px);
    }
    
    #text {
        white-space: nowrap;
        position: relative;
        top: 50%;
        rotate: -4.7deg;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        line-height: 28vw;
        padding: 4vw 0vw;
        margin: 0 auto;
    }
    
    p, span {
        font-size: 20vw;
        font-family: 'flagmen';
    }

    #image {
        width: 90%;
        height: 60%;
        margin-top: 2vw;
    }
    #page1 img{
        border: 1vw solid #fff;
    }

    #page2 {
        height: 95%;
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        padding: 2vw;
    }
    #circle-box{
        height: 70%;
        width: 90%;
    }
    #page2 video{
        height: 100%;
        width: 100%;
        background-position: center;
        background-size: cover;
    }
    #page3{
        padding: 0vw;
        height: -webkit-max-content;
        height: -moz-max-content;
        height: max-content;
        width: 100%;
    }
    
    #text-box { 
        height: -webkit-max-content; 
        height: -moz-max-content; 
        height: max-content;
        padding: 8vw 0vw;
    }

    #text-box h1{
        font-size: 7vw;
        line-height: 8vw;
        margin: 0vw 2vw;
        white-space: nowrap;
    }
     
    #text-box h3{
        font-size: 3vw;
        padding-top: 7.8vw;
        font-weight: 600;
        white-space: nowrap;
    }
    
    #img1, #img2, #img3, #img4, #img5{
        -webkit-box-flex: 50%;
            -ms-flex: 50%;
                flex: 50%;
        max-width: 50%;
        border-radius: 0;
        padding: 1vw;
    }
    #img4{
        display: none;
    }
    #text-box img{
        border-radius: none;
    }
    #page4{
        padding: 0vw 1vw;
        height: -webkit-max-content;
        height: -moz-max-content;
        height: max-content;
        width: 100%;
        margin: 4vw 0vw;
        margin-top: 8vw;
    }
    #city1, #city2, #city3{
        height: 22%;
        padding: 2.5vw;
        margin-bottom: 2vw;
    }
    #location h3{
        font-family: "Yatra One", system-ui;
        font-weight: 500;
        font-size: 2.7vw;
    }
    #page4 i{
        font-size: 5vw;
    }   
    #page4 h1{
        font-size: 5vw;
        padding-top: 4vw;
        margin-bottom: 2vw;
    }
    
    #page5{
        padding: 0vw 1vw;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
        margin-top: 8vw;
    }
    #page5 h1{
        font-size: 5vw;
    }
    #left{
        width: 100%;
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
        padding: 2vw 1vw;
    }
    #left h5{
        font-size: 3.7vw;
        line-height: 4vw;
        letter-spacing: 0.4px;
    }
    #a{
        padding-top: 4vw;
        padding-bottom: 2vw;
    }
    #right{
        width: 100%;
        height: 50%;
    }
    #about-team a{
        font-size: 3.7vw;
        font-family: 'flagmen';
    }
    button{
        margin-top: 4vw;
        padding: 1.2vw 2.2vw;
        font-weight: 700;
    }
    #about-team i{
        font-size: 3.8vw;
    }
    #team{
        -webkit-box-align:center;
            -ms-flex-align:center;
                align-items:center;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        gap: 2vw;
        padding:2vw 2vw;
    }   
    
    #page6{
        height: -webkit-max-content;
        height: -moz-max-content;
        height: max-content;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        margin-top: 4vw;
    }
    
    #left-side{
        height: 100%;
        width: 100%;
        padding: 0 1vw;
        margin: 2vw 1vw;
    }
    #pattern-box h1{
        padding: 3vw;
        font-size: 5vw;
        margin-top: 1vw;
    }
    #bag-img img{
        width: 100%;
    }
    #pattern-box h5{
        font-size: 3.5vw;
        line-height: 4vw;
        letter-spacing: 0.2px;
        padding:  2vw;
        padding-top: 4vw;
    }
    #btns{
        padding: 0vw 2vw;
        padding-bottom: 5vw;
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content;
    }
    #btns button{
        margin-top: 3vw;
        font-size: 3.5vw;
        border-radius: 5px;
        margin-right: 1.5vw;
        padding: 1.4vw 4vw;
        font-weight: 700;
    }

    #right-side{
        height: 55%;
        width: 100%;
        padding: 2vw 1vw;
        margin-bottom: 2vw;
    }
    #content h1{
        font-size: 5vw;
        margin-bottom: 1vw;
        white-space: nowrap;
    }
    #content h5{
        font-size: 3vw;
        margin-bottom: 4vw;
    }
    input{
        width: 100%;
        padding: 2.2vw;
        font-size: 3.5vw;
    }
    #content button{
        margin-top: 5vw;
        padding: 1vw 2vw;
        border-radius: 10px;
        font-size: 3.5vw;
        font-weight: 700;
    }
    #content i{
        font-size: 3.5vw;
        margin-left: 5vw;
    }
    
    footer{
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
        margin-top: 4vw;
    }
    #above{
        display: none;
    }
    #bottom{
        height: -webkit-max-content;
        height: -moz-max-content;
        height: max-content;
    }
    #bottom a{
        padding: 4vw 0vw;
        font-size: 4.2vw;
        font-family: 'cyrene';
        font-weight: 500;
    }
    
    #parta,#partb,#partc,#partd{
        display: none;
    }
    
    #menu-imgs{
        padding: 2% 4%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    
}
